p > a {
    color: blue;
}

div > a {
    color: green;
}

div + p > span {
    color: pink;
}

[type] {
    height: 30px;
}

[type=text] {
    border: solid 2px green;
}

[data-test~=value2] {
    border: solid 2px pink;
}

p:first-child {
    border: solid 3px brown;
}

a:hover {
    color: red;
}

a:visited {
    color: blue;
}

a:link {
    color: pink;
}

a:active {
    color:white;
}

a::after {
    content: 'Hello Link';
}

